<html>
<body>
<head>
 	<style>
 		body, ul, li, a, table, label, p, tr, td, span, textarea, input {
			font: 13px arial, sans-serif, Times, serif;
        }
        
        table {
        	border-collapse: collapse;
        	margin-left: 1px;
        	margin-bottom: 15px;
        	cursor: pointer;
        }
        
        table th {
        	border: 1px solid #00796B;;
        	padding: 7px;
        }
        
        table td {
        	border: 1px solid #00796B;
        	padding: 7px;
        }
        
        table th{
        	background: #00796B;
        	color: #fff;
        }
        
        table td:first-child{
        	background: #7EF6E8;
        	font-weight: bold;
        }
        
        
 	</style>
  	<meta charset="UTF-8">
</head>

<p>O (A) Tutor(a) solicitou a actualização como pode ver na tabela abaixo:</p>

<table>
	<tr>
		<th colspan="2">Actualização da Senha</th>
	</tr>
	
	<tr>
		<td width="120px"><strong>Senha Actualizada:<strong/></td>
		<td width="400px">${password}</td>
	</tr>

</table>
<p><b>O utilizador deverá alterar a sua senha assim que aceder ao sistema pela primeira vez!</b></p>
<p>Obrigado</p>
<p>Pelo FGH/SIS - his@fgh.org.mz © 2018 ©</p>
</body>
</html>